.container {
  padding:25px;
  background: #242424;
  overflow: hidden;
}

.main{
  width:100%;
  display:flex;
  gap: 10px;
}

.leftcontainer{
  width:25%; 
  padding:20px;
  color: #A5A5A5;
}

.leftcontainer_content{
  background: #131313;
  padding:20px;
  border-radius:10px;
}

.underline{
  background:#A5A5A5;
  width:100%;
}

.productfilters{
  display: block;
  border:none;
  border-radius:5px;
  background: #232323;
  color:#fff;
  padding:10px;
  width:80%;
  margin-top:20px;
  margin-bottom:10px;
}
.productfilters option{
  padding:5px;
}

.rightcontent{
  padding:10px;
  color:#fff;
  width:75%;
}

.rightcontent h1{
  margin-bottom:10px;
  margin-top:5px;
  margin-left:5px;
}

.rightcontent h2{
  color: #FFFFFF80;
  margin-top:5px; 
  margin-left:5px; 
}

.product{
  overflow-x: hidden;
}

.product h3{
  margin-bottom: 5px; 
  margin-top: 15px;
  margin-left:5px;
}

.product_items_container{
  background:#131313;
  border-radius:10px;
  padding:15px;
  display:flex;
  overflow-x: auto;
  gap:10px;
  /* white-space: nowrap; */
  overflow-y: hidden;
}

.product_items_container::-webkit-scrollbar {
  display: none;
}

.product_item{
  background:#242424;
  padding:10px;
  border-radius:5px;
  color:#FFFFFF80;
  margin-left:5px;
  margin-right:5px;
}

.product_item_name_container{
  display:flex;
}

.product_item_name p{
  margin-top:8px;
  margin-bottom:5px;
}

.product_item_name p:first-child, .product_item_name p:last-child{
  color:#fff;

}

.product_item_date{
  display:flex;
  justify-content: space-between;
}

.product_item_date p{
  margin-top:5px;
  margin-bottom:5px;
}

.product_item_details p:last-child{
  margin-top:5px;
  margin-bottom:5px;
}

